<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial="width=device-width, initial-scale=1.0>
    <title>Odds Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"> <!-- Link to external stylesheet -->
</head>
<body>
    <div>
        <select onchange="window.location.href=this.value;">
            <option>Sport</option>
            <option value="{{ url_for('nflh2h')}}">NFL</option>
            <option value="{{ url_for('ncaafh2h')}}">CFB</option>
        </select>
    </div>
    <h1>Odds Finder</h1>
</body>
</html>
