<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial="width=device-width, initial-scale=1.0>
    <title>NFL Over/Unders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"> <!-- Link to external stylesheet -->
</head>
<body>
    <div>
            <ul class="navbar">
                <li class="navbar-sport"><a class="sport-link" href="{{ url_for('index')}}">Home</a></li>
                <li class="navbar-sport"><a class="sport-link sport-active" href="{{ url_for('nflh2h')}}">NFL</a></li>
                <li class="navbar-sport"><a class="sport-link" href="{{ url_for('ncaafh2h')}}">CFB</a></li>
                <li style="float:right"><a class="sport-link">Profile</a></li>
            </ul>
        </div>
    <h1>NFL Over/Unders</h1>
    <div id="navbar">
        <select onchange = "window.location.href=this.value;">
            <option value="{{ url_for('nfltotal')}}">Over/Under</option>
            <option value="{{ url_for('nflh2h')}}">Money Line</option>
            <option value="{{ url_for('nflspread')}}">Spread</option>
        </select>
        <button id="refreshButton">Refresh Data</button>
        <p id="output"></p>
        <p id="lastRefresh">Last Refreshed: Loading...</p>
    </div>
    <table id="oddsTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Team</th>
                <!-- Bookmaker columns will be dynamically added here -->
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be inserted here -->
        </tbody>
    </table>
    <script src = "{{ url_for('static', filename='js/refresh.js')}}"></script>
    <script src = "{{ url_for('static', filename='js/nfl/nfltotal.js')}}"></script>
</body>
</html>
